@charset "utf-8";

body {
	background: lightgreen;
}

@media (max-width: 600px) {
	body {
		background: blue;
		color: white;
	}
}

@media (max-width: 300px) {
	body {
		background: yellow;
		color: black;
	}
}
